<div class="p-3 mb-4 bg-[#FAFAFA] border border-gray-300 rounded shadow-sm" id="recent_shortens">
  <h4 class="text-2xl font-bold border-bottom border-gray pb-2 mb-4">Your Recent Shorten Link</h4>
</div>